@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Navbar */
body{
    background-color:aliceblue;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size: 12;
}
/* Navbar */

/* Breadcrumb */
.breadcrumb-item{
    padding: 15px 0;
    margin-top: 50px;
    margin-bottom: -20px;
}
/* Breadcrumb */

.search-date{
    padding-bottom: 30px;
    margin-top: 40px;
}
.search-date h6{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    position: relative;
    margin-top: 20px;
    margin-bottom: -40px;
}
@media screen and (min-width: 994px){
    .form-control{
        width: 500px;
        position: relative;
    }
}

/* Style Kategori */
.card{
    width: 18rem;
    position: relative;
}
/* .card-img-top{
    width: 10rem;
    position: relative;
} */
.row-container{
    background-color: #ffff;
    margin: 0px;
    padding: 50px;
}
/* Style Kategori */

/* Style Figure */
.figure-img{
    width: 500px;
    margin-bottom: -50px;
}
.figure h5{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    position: relative;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: -20px;
}
.figure-caption h5{
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
}
.figure-caption p{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: -40px;
}
/* Style Figure */

/* Footer */
#footer{
    padding: 30px 0;
    margin-top: 40px;
    background: #EBEBEB;
}
/* Footer */


